{% if product.handle != blank %}
  <span data-compare_handle="{{ product.handle }}" class="compare_btn">
    <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.01 9.83398H0V11.834H7.01V14.834L11 10.834L7.01 6.83398V9.83398ZM12.99 8.83398V5.83398H20V3.83398H12.99V0.833984L9 4.83398L12.99 8.83398Z" fill="#616161"/></svg>
  </span>
{% endif %}