{%- if product.handle != blank -%}
<a class="action-wishlist tile-actions--btn flex wishlist-btn wishlist wishlist-3 {%if product_class %} {{ product_class }} {% endif %}" aria-label="{{ product.title }}" href="javascript: void(0)" data-product-handle="{{ product.handle }}" tabindex="0" data-button-wishlist>
  <span class="icon">
    {% render 'new-icon-wishlist' %} 
  </span>
  <span class="icon fill-icon">
    {% render 'new-fill-icon-wishlist' %}
  </span>
</a>
{% endif %} 
