<!-- popup-compare.liquid -->
<div class="modal fade" id="jsCompare" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog--compare modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Compare Product</h5>        
        <button type="button" class="close close_button" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center js-compare-content compare_product_section">
        </div>
      </div>
    </div>
  </div>
</div>